n8n-workflows/pilot-program-handler.json
{
  "name": "Pilot Program Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pilot-program",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "console.log('Pilot Program Application:', JSON.stringify($input.all(), null, 2));\nreturn $input.all();"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "to": "sebspagnou@gmail.com",
        "subject": "New Pilot Program Application - {{ $json.company }}",
        "text": "New Pilot Program Application Received!\n\nApplicant Details:\n- Name: {{ $json.name }}\n- Email: {{ $json.email }}\n- Company: {{ $json.company }}\n- Package: {{ $json.package }}\n\nSubmission Date: {{ $json.submissionDate }}\nTimestamp: {{ $json.timestamp }}\n\nPlease follow up with the applicant at their email address."
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}